/* Reusable */
body{
    margin: 0;
    background-color: mintcream;
}

.name {
    width: auto;
    position: absolute;

    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: darkgrey;
    text-align: center;
     font-family: fantasy;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.img-reset {
    display: block;
    width: 100%;
}

.list-reset {
    padding-left: 0;
    list-style: none;
}

/* Navigation */
.navigation{
    position: relative;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 20px;
}

.navigation .logo {
    width: 100px;
    margin: 20px;
}

.navigation .logo:hover {
    display: block;
    transform: translate(600px);
    transition: all 3s ease;
}

.navigation ul{
    display: flex;
}

.navigation li {
    padding-right: 20px;
}

.btn {
    padding: 5px;
    font-size: medium;
    font-family: 'Lucida Sans Unicode';
}

/* Galery  */
div .gallery {
  border: 1px solid #ccc;
    display: flex;
    flex-flow: column wrap;
}

div .gallery:hover {
  border: 1px solid #777;
}

div .gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 1020px) {
     .name{
      display: none;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}