body{
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: mintcream;
}

/* Reusable */
.flex {
    display: flex;
    justify-content: space-between;
}

.page-width {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.img-reset {
    display: block;
    width: 100%;
}

.list-reset {
    padding-left: 0;
    list-style: none;
}

/* Navigation */
.navigation{
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 20px;
}

.navigation .logo {
    width: 100px;
    margin: 20px;
}

.navigation .logo:hover {
    display: block;
    transform: translate(600px);
    transition: all 3s ease;
}

.navigation ul{
    display: flex;
}

.navigation li {
    padding-right: 20px;
}

.btn {
   padding: 5px;
    font-size: medium;
    font-family: 'Lucida Sans Unicode';
}

/* Hero */
.hero {
    position: relative;
    margin: 0 30px;
}

.hero .sentence {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: fantasy;
}

/* Section AboutUs */
.section-about {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-about .carousel {
    
    height: 390px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 12px 0px rgba(186,186,186,1);
    transform: scale(1.04);
}

.hiden{
    visibility: hidden;
}
.show {
    visibility: visible;
}

/* Social */
.section-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 0 20px;
    border-top: 40px;
    border: solid steelblue;
    border-radius: 8px;
    font-family: 'Lucida Sans Unicode';
}
.section-social h2 {
    font-family: fantasy;
    color: lightslategray;
}

@media (max-width: 787px){
    .navigation .logo {
        margin: 0 auto;
    }

    .section-social{
     flex-direction: column;
     width: auto;
    }
    
    .section .row {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }

    .section .col{
        max-width: none;
        margin-top: 30px;
    }
    .section .col-5{
        max-width: none;
    }

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
}